

.blur-back{
    position: relative;
   background: rgba(0, 0, 0, 0.19);
   height: 100%;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   
}

.edit-box{
    margin: 15%;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   background-color: #fff;
   overflow: hidden;
   animation: dropleft 0.3s linear;
}
.add-box{
    margin: 15%;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   background-color: #fff;
   overflow: hidden;
   animation: fromBottom 0.3s ;
}

.headline-edit{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(184, 157, 6, 0.644);
}
.headline-edit h2{
  margin-left: 30px;
  color: #fff;
  font-family: lucida Sans;
}
.headline{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(10, 50, 224, 0.596); 
}
.headline h2{
    margin-left: 30px;
  color: #fff;
  font-family: lucida Sans;
}

.details{
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
   
}
.input-box{
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    animation: dropeffect 0.3s linear;
}
.input-box label{
   color:rgb(5, 38, 99);
   font-size: 30px;
   margin-bottom: 5px;
}
.input-box input {
    width: 15rem;
    padding: 5px;
    height: 40px;
    text-align: center;
    border: 1px solid blue;
    border-radius: 5px;
    font-size: 1.2em;
}


.save-btn{
   height: 40px;
  width: 170px;
  font-size: 1.3em;
  font-weight: bold;
  margin: 15px;
  background-color: blue;
  border-radius: 10px;
  border: navy;
  color: #fff;
}

.btn-close{
    height: 50px;
    width: 50px;
    border: none;
    
    font-size: 2em;
    background-color: rgba(236, 15, 15, 0.315);
}
.btn-close:hover{
    background-color: rgba(236, 15, 15, 0.822);
}

@keyframes dropleft {
    0%   {transform: translate3D(-100%)scale(0); 
        opacity: 0;
      transform: translateX(10%);
    }
  
  100% {transform: translate3D(0%) scale(1);
opacity: 1;}
}
@keyframes fromBottom {
    0%   {transform: translate3D(-100%)scale(0); 
        opacity: 0;
      transform: translateY(10%);
    }
  
  100% {transform: translate3D(0%) scale(1);
opacity: 1;}
}