
.features-nav{
    position: relative ;
    height: 50px;
    width: 90%;
    margin-left: 10%;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: black;
    overflow: hidden;
  
}

.features-nav a{
    text-decoration: none;
}

.features-cards{
  font-size: 1.5em;
  height: 100%;
  width: max-content;
  padding: 12px;
  border: none;
  background-color: transparent;
  color: white;
 transition: 0.5s;
}

.features-cards:hover {
   background-color: rgb(231, 162, 34);
   color: black;
}
.features-nav .actv{
    background-color: rgb(231, 162, 34);
    color: black;
}