.main-div{
    position: absolute;
    height: 88%;
    width: 100%;
    margin-top: 110px;
    background-image: url(public/dash-back.jpg);
    background-size: cover;
     z-index: 1;
   
}

.card{
    height: auto;
    padding: 10px;
    width: 100%;
    overflow: hidden;
   
}
.card-head{
    width: 100%;
    font-size: 25px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(16, 114, 226);
}
.card-head h3{
    background-color: rgba(167, 17, 236, 0.589);
    height: 100%;
    padding: 5px 50px;
 }
 .card-head p{
    color: #fff;
    text-decoration: dashed;
 }
.details-box{
    width: 100%;
    padding: 10px;
    color: black;
    background-color: #ffffffa1;
    display: flex;
    font-family: cambria;
    font-size: 35px;
   justify-content: space-around;
   border-radius: 0 0 20px 20px;
}
.card-details p{
    font-size: 20px;
    margin: 10px;
    text-align: left;
    color:black;
}

.card-btn button{
    margin: 5px;
    padding: 3px;
    height: 30px;
    width: 50px;
    border-radius: 5px;
    border: none;
}


#Edit{
   background-color: rgb(27, 27, 167);
   color: #fff;
   transition: 0.5s;
}
#Delete{
    background-color: rgb(240, 79, 79);
    color: #fff;
    transition: 0.5s;
}
#Edit:hover{
    background-color:rgb(3, 3, 119);;
}
#Delete:hover{
    background-color: rgb(151, 6, 6);
}
.add-btn{
    height: 40px;
    padding: 10px 15px;
    font-size: 1.2em;
    margin-top: 2%;
    margin-left: 45%;
    background-color: rgba(162, 0, 255, 0.979);
    border-radius: 10px;
    border: navy;
    color: #fff;
    transition: 0.5s;
}
.add-btn:hover{
    background-color: rgba(6, 6, 209, 0.986);
}