.marksback{
    position: absolute;
    margin-top: 30px;
    width: 100%;
    height: 96%;
   background-image: -moz-linear-gradient(35deg, rgb(241, 77, 241), rgb(236, 195, 81));
   display: flex;
   justify-content: center;
    align-items: center;
}
.a4-Landscape{
    padding: 1%;
    width: 29.7cm;
    height: 21cm;
    background-color: #ffffff57;
    display: flex;
    flex-direction: column;
}

.header-marks{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
}
.a4-Landscape table{
    width: 100%;
    padding: 5px;
    border-collapse: collapse;
    overflow: hidden;
   border-radius: 15px 15px 0 0;
   border-bottom: 3px solid  #4aa302;

}

table thead{
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    height: 50px;
    font-family: Arial;
    text-align: left;
    margin-bottom: 5px;
    background:linear-gradient(to top, rgb(29, 14, 231), rgb(178, 26, 238));
   text-align: center;
   
  
}
table thead th{
    color: white;
    background-image: linear-gradient(to bottom right, #72FFB6, #10D164);
    box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
}

table tbody {
    width: 100%;
 font-size: 20px;

}
table tbody tr td{
    text-align: center;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
table tr:nth-of-type(odd){
    font-size: 22px;
    color: black;
    font-weight: 500;
}
table tr:nth-of-type(even){
    background-color: rgba(133, 243, 166, 0.308);
    font-size: 22px;
    color: black;
    font-weight: 500;
}

table th:nth-of-type(1){
    width: 50px;
    background-color: #c5520557;
}
table th:nth-of-type(2){
    width: 170px;
    background-color: #b505c56b;
}


table th{
    width: 5em;
}

.edit-btn{
    margin: 5px;
    padding: 3px;
    height: 30px;
    width: 50px;
    border-radius: 5px;
    border: none;
    background-color: #9e02a3;
    color: white;
}

.foot{
    position: absolute;
    margin-top: 80px;
    margin-left: 8%;
    bottom: 10px;
    width: 80%;
    display: flex;
   justify-content: space-around;
    background-color: rgba(0, 255, 255, 0.356);
    border-radius: 50px;
}

.cheackbox{
    margin-top: 10px;
}
.cheackbox label{
    margin-right: 20px;
    font-size: 20px;
}
.cheackbox input{
    margin-right: 50px;
    
}

.print-btn{
    margin: 5px;
    padding: 3px;
    height: 40px;
    width: 100px;
    border-radius: 5px;
    border: none;
    background-color: #05c555;
    color: white;
}

.pagination {
    margin: 5px;
    padding: 3px;
    height: 40px;
    width: 200px;
    display: flex;
   align-items: center;
   justify-content: space-between;
}
.pagination button{
    margin: 5px;
    padding: 3px;
    height: 40px;
    width: 100px;
    border-radius: 100px;
    border: none;
    background-color: #0548c5;
    color: white;
}
button.active{
     background-color: #9e02a3;
}